/* Trang chủ */
* {
    /* margin: khoảng cách giữa các phần tử
       padding: khoảng cách nội dung
       box-sizing: kích thước tông
       font-family: phông chữ
    */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* phần nội dung
     background-color: màutrang chủ
     color: màu chữ 
     text-align: vị trí 
     font-size: cỡ chữ */
  body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  
  a {
      text-decoration: none;
  }
  
  .container {
      max-width: 1500px;
      margin: auto; 
  }
      
  image {
      width: 1000px;
      height: 1000px;
      float: center;
  }